   html, body {
      position: relative;
      height: 100%;
    }
    /*body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }*/
    .swiper-container {
      width: 100%;
      height: 40%;
      margin-top: 30%;
      grid-column: 2%;

    }
    .swiper-container img {
      width: 100%;
      height: 120%;
     
      
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 13px 0px;
  position: absolute;
  font-weight: bold;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}