.btn-danger {
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn-danger:hover {
    background-color: aqua;
    border-color: aqua;
}

.col {
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}